* {
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

html body {
	padding: 0;
	margin: 0;
	font-family: DejaVu Sans Mono, sans-serif;
}

#document-toolbar {
	width: 100%;
}

#document-toolbar > ul {
	padding: 5px;
	margin: 0;
}

#document-toolbar > ul > li {
	display: inline-block;
	padding-right: 10px;
}

#document-contents {
	position: relative;
	margin: 8px;
}

#document-form textarea {
	width: 100%;
	height: 500px;
}

ul.document-listing li {
	padding: 5px;
}

.marked {
	font-weight: bold;
}

@media print {
	#document-toolbar {
		display: none;
	}
}

